<% include ../partials/boilerplate %>

<p>
  <a href="/">Home</a>

<h1><%= comment.movie_title %></h1>

<p><%= comment.comment %></p>

<a href="/comments/<%=comment.id%>/edit">Edit Comment</a>
<a href="/movie-reviews/<%=comment.movie_title%>">Go back to movie</a>
<a href="/">Get another movie review</a>

<form action="<%= `/comments/${comment.id}?_method=DELETE` %>" method="POST">
  <input type="submit" value="Delete" />
</form>

<% include ../partials/end %>
