<% include ../partials/boilerplate %>

<p>
  <a href="/">Home</a>
<h4>Movie Title: <%= movieReview.results[0].display_title %></h4>
<p>Critics Pick: <%= movieReview.results[0].critics_pick %></p>
<p>Summary: <%= movieReview.results[0].summary_short %></p>
<p>Opening Date (YYYY-MM-DD): <%= movieReview.results[0].opening_date %></p>
<p>Publication Date (YYYY-MM-DD): <%= movieReview.results[0].publication_date%></p>
<p>Rating: <%= movieReview.results[0].mpaa_rating %></p>
<p>
  <% if ("link" in movieReview.results[0]) { %>
    <a href="<%= movieReview.results[0].link.url %>">NY Times Movie Review</a>
  <% } else { %>
    <a href="<%= movieReview.results[0].link_url %>">NY Times Movie Review</a>
  <% } %>
</p>

<h4>Comments</h4>

<% comments.forEach((comment) => { %>
<p><a href="../comments/<%= comment.id %>/edit">By <%= comment.username %> - on <%= comment.date_entered %> -
  <%= comment.comment %></a></p>
<% }) %>

<p>
  <a href="/">Look up another movie</a>
  <a href="../comments/new">Add a comment</a>
</p>

<% include ../partials/end %>
