<% include ../partials/boilerplate %>

<h4>Movie Title: <%= movieReview.results[0].display_title %></h4>
<p>Rating: <%= movieReview.results[0].mpaa_rating %></p>
<p>Critics Pick: <%= movieReview.results[0].critics_pick %></p>
<p>Summary: <%= movieReview.results[0].summary_short %></p>
<p>Opening Date: <%= movieReview.results[0].opening_date %></p>
<p>NY Times Movie Review URL: <%= movieReview.results[0].link.url %></p>
<a href="<%= movieReview.results[0].link.url %>">NY Times Movie Review</a>

<% include ../partials/end %>
